<h1>Products index</h1>

<a href="{% url 'index' %}">Home</a>

<div class="parent">
    {% for obj in products %}
        <div class="child">
            <p>{{ obj.description }}</p>
            <img src="{{ obj.image.url }}" width="200" height="200" alt="Product Image">

            <a href="{% url 'product_detail' obj.id %}">
                <button>Detalhes</button>
            </a>
        </div>
    {% endfor %}
</div>

<style>
    div.parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    div.child {
        padding: 10px 20px;
        border: 1px solid black;
    }

    button {
        cursor: pointer;
    }
</style>